# This config file contains the paths where you want the analysis and results to me saved
# and the route to the references
# All paths must be absolute and end with "/".
# Full path to the directory where the whole analysis will take place. It is
# optional and not used in the workflow, but it can make this config file cleaner.
workingDir='/processing_Data/bioinformatics/research/20160530_METAGENOMICS_AR_IC_T/'

# ---------------------------------------------------------------#
# Full path to your analysis directory. The analysis directory must contain a directory named 
# 00-reads with all the raw reads you want to analyse. The raw reads can be gzipped or not, 
# but must be paired end and with a file name equivalent to the one showed below.
# The final structure should be something similar to:
# analysisDir/
#     00-reads/
# 	sampleName1_*_R1_*.fastq.gz
# 	sampleName1_*_R2_*.fastq.gz
# 	...
# 	sampleNameN_*_R1_*.fastq.gz
# 	sampleNameN_*_R2_*.fastq.gz
# analysisDir="/absolute/path/to/your/analysis/directory/"
analysisDir="${workingDir}ANALYSIS/analysis_inSilico/"

# ---------------------------------------------------------------#
# Full path to the directory where you want your results to be generated.
# resultsDir="/absolute/path/to/your/results/directory/"
resultsDir="${workingDir}RESULTS/analysis_inSilico/"

# ---------------------------------------------------------------#
# Full path to the directory containg all the references for virus.
# The directory must contain already processed databases for blast and bowtie mapping
# with the following structure AND file names:
# virDB/
#     BLAST/
#	 	  blastx/
#		    VIRUS_blastx.phr
#		    VIRUS_blastx.pin
#		    VIRUS_blastx.pog
#		    VIRUS_blastx.psd
#		    VIRUS_blastx.psi
#		    VIRUS_blastx.psq
#		  blastn/
#		    VIRUS_blastn.nhr
#		    VIRUS_blastn.nin
#		    VIRUS_blastn.nog
#		    VIRUS_blastn.nsd
#		    VIRUS_blastn.nsi
#		    VIRUS_blastn.nsq
#     WG/
#		  genome_length.txt
#		  bwt2/
#		    virus_all.1.bt2
#		    ...
#		    virus_all.n.bt2
#		    virus_all.rev.1.bt2
#		    ...
#		    virus_all.rev.n.bt2

# virDB="/absolute/path/to/your/virus/reference/directory/"
virDB="${workingDir}REFERENCES/VIRUS_GENOME_REFERENCE/"
# ---------------------------------------------------------------#
# Full path to the directory containg all the references for bacteria.
# The directory must contain already processed databases for blast and bowtie mapping
# with the following structure AND file names:
# bacDB/
#     BLAST/
#		  blastn/
#		    bacteria_blastn.nhr
#		    bacteria_blastn.nin
#		    bacteria_blastn.nog
#		    bacteria_blastn.nsd
#		    bacteria_blastn.nsi
#		    bacteria_blastn.nsq
#     16S/
#		  bwt2/
#		    16S.1.bt2
#		    ...
#		    16S.n.bt2
#		    16S.rev.1.bt2
#		    ...
#		    16S.rev.n.bt2
#     WG/
#		  genome_length.txt
#		  bwt2/
#		    WG.1.bt2
#		    ...
#		    WG.n.bt2
#		    WG.rev.1.bt2
#		    ...
#		    WG.rev.n.bt2

# bacDB="/absolute/path/to/your/bacteria/reference/directory/"
bacDB="${workingDir}REFERENCES/BACTERIA_GENOME_REFERENCE/"

# ---------------------------------------------------------------#
# Full path to the directory containg all the references for fungi.
# The directory must contain already processed databases for blast and bowtie mapping
# with the following structure AND file names:
# fungiDB/
#     BLAST/
#		  blastn/
#		    FUNGI_blastn.nhr
#		    FUNGI_blastn.nin
#		    FUNGI_blastn.nog
#		    FUNGI_blastn.nsd
#		    FUNGI_blastn.nsi
#		    FUNGI_blastn.nsq
#     ITS/
#		  bwt2/
#		    ITS_all.1.bt2
#		    ...
#		    ITS_all.n.bt2
#		    ITS_all.rev.1.bt2
#		    ...
#		    ITS_all.rev.n.bt2
#     WG/
#		  genome_length.txt
#		  bwt2/
#		    fungi_all.1.bt2
#		    ...
#		    fungi_all.n.bt2
#		    fungi_all.rev.1.bt2
#		    ...
#		    fungi_all.rev.n.bt2

# fungiDB="/absolute/path/to/your/fungi/reference/directory/"
fungiDB="${workingDir}REFERENCES/FUNGI_GENOME_REFERENCE/"

# ---------------------------------------------------------------#
# Full path to the directory containg all the references for protozoa.
# The directory must contain already processed databases for blast and bowtie mapping
# with the following structure AND file names:
# protozoaDB/
#     BLAST/
#		  blastn/
#		    PROTOZOA_blastn.nhr
#		    PROTOZOA_blastn.nin
#		    PROTOZOA_blastn.nog
#		    PROTOZOA_blastn.nsd
#		    PROTOZOA_blastn.nsi
#		    PROTOZOA_blastn.nsq
#     WG/
#		  genome_length.txt
#		  bwt2/
#		    protozoa_all.1.bt2
#		    ...
#		    protozoa_all.n.bt2
#		    protozoa_all.rev.1.bt2
#		    ...
#		    protozoa_all.rev.n.bt2

# protozoaDB="/absolute/path/to/your/protozoa/reference/directory/"
protozoaDB="${workingDir}REFERENCES/PROTOZOA_GENOME_REFERENCE/"

# ---------------------------------------------------------------#
# Full path to the directory containg all the references for invertebrate.
# The directory must contain already processed databases for blast and bowtie mapping
# with the following structure AND file names:
# invertebrateDB/
#     BLAST/
#		  blastn/
#		    INVERTEBRATE_blastn.nhr
#		    INVERTEBRATE_blastn.nin
#		    INVERTEBRATE_blastn.nog
#		    INVERTEBRATE_blastn.nsd
#		    INVERTEBRATE_blastn.nsi
#		    INVERTEBRATE_blastn.nsq
#     WG/
#		  genome_length.txt
#		  bwt2/
#		    invertebrate_all.1.bt2
#		    ...
#		    invertebrate_all.n.bt2
#		    invertebrate_all.rev.1.bt2
#		    ...
#		    invertebrate_all.rev.n.bt2

# invertebrateDB="/absolute/path/to/your/invertebrate/reference/directory/"
invertebrateDB="${workingDir}REFERENCES/INVERTEBRATE_GENOME_REFERENCE/"

# ---------------------------------------------------------------#
# Full path to the directory containg all the references for human.
# The directory must contain already processed databases for blast and bowtie mapping
# with the following structure AND file names:
# hostDB/
#     WG/
#		  genome_length.txt
#		  bwt2/
#		    hg38.AnalysisSet.1.bt2
#		    ...
#		    hg38.AnalysisSet.n.bt2
#		    hg38.AnalysisSet.rev.1.bt2
#		    ...
#		    hg38.AnalysisSet.rev.n.bt2
#
# hostDB="/absolute/path/to/your/human/reference/directory/"
hostDB="${workingDir}REFERENCES/HUMAN_GENOME_REFERENCE/"

# ---------------------------------------------------------------#
